button {
    position: absolute;
    -webkit-animation: moveX 2s linear 0s infinite alternate, moveY 3.9s linear 0s infinite alternate;
    -moz-animation: moveX 2s linear 0s infinite alternate, moveY 3.9s linear 0s infinite alternate;
    -o-animation: moveX 2s linear 0s infinite alternate, moveY 3.9s linear 0s infinite alternate;
    animation: moveX 2s linear 0s infinite alternate, moveY 3.9s linear 0s infinite alternate;
  }

.button2 {
  position: absolute;
  -webkit-animation: moveX 4s linear 0s infinite alternate, moveY2 3.9s linear 0s infinite alternate;
  -moz-animation: moveX 4s linear 0s infinite alternate, moveY2 3.9s linear 0s infinite alternate;
  -o-animation: moveX 4s linear 0s infinite alternate, moveY2 3.9s linear 0s infinite alternate;
  animation: moveX 4s linear 0s infinite alternate, moveY2 3.9s linear 0s infinite alternate;
}

.hiddenButton{
  display: none;
}

.button3 {
  position: absolute;
  -webkit-animation: moveX 1s linear 0s infinite alternate, moveY2 5s linear 0s infinite alternate;
  -moz-animation: moveX 1s linear 0s infinite alternate, moveY2 5s linear 0s infinite alternate;
  -o-animation: moveX 1s linear 0s infinite alternate, moveY2 5s linear 0s infinite alternate;
  animation: moveX 1s linear 0s infinite alternate, moveY2 5s linear 0s infinite alternate;
}

  @-webkit-keyframes moveX {
    from { left: 0; } to { left: 700px; }
  }
  @-moz-keyframes moveX {
    from { left: 0; } to { left: 700px; }
  }
  @-o-keyframes moveX {
    from { left: 0; } to { left: 700px; }
  } 
  @keyframes moveX {
    from { left: 0; } to { left: 700px; }
  }
  
  @-webkit-keyframes moveY {
    from { top: 0; } to { top: 535px; }
  }
  @-moz-keyframes moveY {
    from { top: 0; } to { top: 535px; }
  }
  @-o-keyframes moveY {
    from { top: 0; } to { top: 535px; }
  }
  @keyframes moveY {
    from { top: 0; } to { top: 535px; }
  }  
  
  @-webkit-keyframes moveY2 {
    from { top: 0; } to { top: 200px; }
  }
  @-moz-keyframes moveY2 {
    from { top: 0; } to { top: 200px; }
  }
  @-o-keyframes moveY2 {
    from { top: 0; } to { top: 200px; }
  }
  @keyframes moveY2 {
    from { top: 0; } to { top: 200px; }
  }  

  button {
    background: url("cheese.png") no-repeat; 
    width: 45px;
    height: 45px;
    background-size: cover;
    color: none; 
  }

  .button3 {
    background: url("tomato.png") no-repeat; 
    width: 90px;
    height: 90px;
    background-size: cover;
    color: none; 
  }
  
  .button4 {
    background: url("bread.png") no-repeat; 
    width: 90px;
    height: 90px;
    background-size: cover;
    color: none; 
  }
  
  .button5 {
    background: url("ps5.jpeg") no-repeat; 
    width: 45px;
    height: 45px;
    background-size: cover;
    color: none; 
  }
  
  
  button:hover {
    background-color: #04AA6D;
    color: white;
  }

body {
    background-color: none;
}

/*.container {
    display: flex;
    display: block;
    color: rgb(31, 162, 185);
    width: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
}*/

/*.middleBox {
    display: flex;
    display: block;
    color: #9d2222;
    width: 50%;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
}
*/
.hello {
  text-align: center;
  margin: 0 auto;
}

.box {
  background-image: url("grocery.jpg");
  background-size: cover;
  background-color: #7cb3ce;
  margin: 0 auto;
  width: 772px;
  height: 562px;
  position: relative;
  /*box-shadow: inset 0 0 20px #155;*/
  border-radius: 10px;
  border: 2px solid #60320f;
  overflow: hidden;
}