button {
  width: 100px;
  height: 45px;
  background-size: cover;
  color: black; 
  border-width: 0px;
}
/*cheese*/
.button2 { 
  background: url("cheese.png") no-repeat; 
  width: 45px;
  height: 35px;
  background-size: cover;
  color: none; 
  border-width: 0px;
  position: absolute;
  -webkit-animation: moveX 3.5s linear 0s infinite alternate, moveY2 1.5s linear 0s infinite alternate;
  -moz-animation: moveX 3.5s linear 0s infinite alternate, moveY2 1.5s linear 0s infinite alternate;
  -o-animation: moveX 3.5s linear 0s infinite alternate, moveY2 1.5s linear 0s infinite alternate;
  animation: moveX 3.5s linear 0s infinite alternate, moveY2 1.5s linear 0s infinite alternate;
}
/*tomato*/
.button3 {
  background: url("tomato.png") no-repeat; 
  width: 60px;
  height: 60px;
  background-size: cover;
  color: none; 
  position: absolute;
  -webkit-animation: moveX 1s linear 0s infinite alternate, moveY2 5s linear 0s infinite alternate;
  -moz-animation: moveX 1s linear 0s infinite alternate, moveY2 5s linear 0s infinite alternate;
  -o-animation: moveX 1s linear 0s infinite alternate, moveY2 5s linear 0s infinite alternate;
  animation: moveX 1s linear 0s infinite alternate, moveY2 5s linear 0s infinite alternate;
}
/*bread*/
.button4 {
  background: url("bread.png") no-repeat; 
  width: 90px;
  height: 90px;
  background-size: cover;
  color: none; 
  position: absolute;
  -webkit-animation: moveX4 1.9s linear 0s infinite alternate, moveY4 3.6s linear 0s infinite alternate;
  -moz-animation: moveX4 1.9s linear 0s infinite alternate, moveY4 3.6s linear 0s infinite alternate;
  -o-animation: moveX4 1.9s linear 0s infinite alternate, moveY4 3.6s linear 0s infinite alternate;
  animation: moveX4 1.9s linear 0s infinite alternate, moveY4 3.6s linear 0s infinite alternate;
}
/*ps5*/
.button5 {
  background: url("ps5.png") no-repeat; 
  width: 80px;
  height: 80px;
  background-size: cover;
  color: none; 
  position: absolute;
  -webkit-animation: moveX 0.75s linear 0s infinite alternate, moveY5 2.1s linear 0s infinite alternate;
  -moz-animation: moveX 0.75s linear 0s infinite alternate, moveY5 2.1s linear 0s infinite alternate;
  -o-animation: moveX 0.75s linear 0s infinite alternate, moveY5 2.1s linear 0s infinite alternate;
  animation: moveX 0.75s linear 0s infinite alternate, moveY5 2.1s linear 0s infinite alternate;
}
/*milk*/
.button6 {
  background: url("milk.png") no-repeat; 
  width: 80px;
  height: 80px;
  background-size: cover;
  color: none; 
  position: absolute;
  -webkit-animation: moveX6 1.7s linear 0s infinite alternate, moveY6 2.5s linear 0s infinite alternate;
  -moz-animation: moveX6 1.7s linear 0s infinite alternate, moveY6 2.5s linear 0s infinite alternate;
  -o-animation: moveX6 1.7s linear 0s infinite alternate, moveY6 2.5s linear 0s infinite alternate;
  animation: moveX6 1.7s linear 0s infinite alternate, moveY6 2.5s linear 0s infinite alternate;
}

/*.button7 {
    position: absolute;
   -webkit-animation: moveX 2s linear 0s infinite alternate, moveY 3.9s linear 0s infinite alternate;
    -moz-animation: moveX 2s linear 0s infinite alternate, moveY 3.9s linear 0s infinite alternate;
    -o-animation: moveX 2s linear 0s infinite alternate, moveY 3.9s linear 0s infinite alternate;
    animation: moveX 2s linear 0s infinite alternate, moveY 3.9s linear 0s infinite alternate;
  }*/

.hiddenButton{
  display: none;
}

  @-webkit-keyframes moveX {
    from { left: 0; } to { left: 700px; }
  }
  @-moz-keyframes moveX {
    from { left: 0; } to { left: 700px; }
  }
  @-o-keyframes moveX {
    from { left: 0; } to { left: 700px; }
  } 
  @keyframes moveX {
    from { left: 0; } to { left: 700px; }
  }

  @-webkit-keyframes moveX6 {
    from { left: 0; } to { left: 700px; }
  }
  @-moz-keyframes moveX6 {
    from { left: 0; } to { left: 700px; }
  }
  @-o-keyframes moveX6 {
    from { left: 0; } to { left: 700px; }
  } 
  @keyframes moveX6 {
    from { left: 0; } to { left: 700px; }
  }
  
  @-webkit-keyframes moveY {
    from { top: 0; } to { top: 535px; }
  }
  @-moz-keyframes moveY {
    from { top: 0; } to { top: 535px; }
  }
  @-o-keyframes moveY {
    from { top: 0; } to { top: 535px; }
  }
  @keyframes moveY {
    from { top: 0; } to { top: 535px; }
  }  
  
  @-webkit-keyframes moveY2 {
    from { top: 0; } to { top: 400px; }
  }
  @-moz-keyframes moveY2 {
    from { top: 0; } to { top: 400px; }
  }
  @-o-keyframes moveY2 {
    from { top: 0; } to { top: 400px; }
  }
  @keyframes moveY2 {
    from { top: 0; } to { top: 400px; }
  }  

  @-webkit-keyframes moveY5 {
    from { top: 0; } to { top: 500px; }
  }
  @-moz-keyframes moveY5 {
    from { top: 0; } to { top: 500px; }
  }
  @-o-keyframes moveY5 {
    from { top: 0; } to { top: 500px; }
  }
  @keyframes moveY5 {
    from { top: 0; } to { top: 500px; }
  }  

  @-webkit-keyframes moveY6 {
    from { top: 0; } to { top: 500px; }
  }
  @-moz-keyframes moveY6 {
    from { top: 0; } to { top: 500px; }
  }
  @-o-keyframes moveY6 {
    from { top: 0; } to { top: 500px; }
  }
  @keyframes moveY6 {
    from { top: 0; } to { top: 500px; }
  }  

  @-webkit-keyframes moveY4 {
    from { top: 0; } to { top: 500px; }
  }
  @-moz-keyframes moveY4 {
    from { top: 0; } to { top: 500px; }
  }
  @-o-keyframes moveY4 {
    from { top: 0; } to { top: 500px; }
  }
  @keyframes moveY4 {
    from { top: 0; } to { top: 500px; }
  }  

  @-webkit-keyframes moveX4 {
    from { left: 0; } to { left: 700px; }
  }
  @-moz-keyframes moveX4 {
    from { left: 0; } to { left: 700px; }
  }
  @-o-keyframes moveX4 {
    from { left: 0; } to { left: 700px; }
  } 
  @keyframes moveX4 {
    from { left: 0; } to { left: 700px; }
  }
   
  button:hover {
    background-color: #B56B45;
    color: #E8DAB2;
  }

body {
    background-color: #FFC07F;
}

.hello {
  text-align: center; 
  margin: 0 auto;
}

.ending {
  text-align: center;
  margin: 0 auto;
}

.finalscreen {
  text-align: center;
  margin: 0 auto;
}

.box {
  background-image: url("grocery.jpg");
  background-size: cover;
  background-color: #7cb3ce;
  margin: 0 auto;
  width: 772px;
  height: 562px;
  position: relative;
  /*box-shadow: inset 0 0 20px #155;*/
  border-radius: 10px;
  border: 2px solid #60320f;
  overflow: hidden;
}

#start{
  display: block;
}

#cheese{
  display: block;
}

#tomato{
  display: block;
}

#bread{
  display: block;
}

#ps5{
  display: block;
}

#milk{
  display:block;
}

p{
  margin: 3px;
  padding: 0;
}